body {
}

#header {
  position: absolute;
  top: 0;
}
  #header #logo {
    float: left;
  }
  #header .title {
    float: right;
  }

#sidebar {
  width: 160px;
  float: left;
}

#messages div {
  margin: 4em 0 -4em 0;
  padding: 1em;
}
  #messages .error-message {
    background-color: lightyellow;
    color: red;
  }

#content {
  margin-top: 80px;
  margin-left: 170px; /* left sidebar*/
}

h1 {
  margin-bottom: 5px;
}

#footer {
  clear: both;
}

.powered-by {
  margin: 10px 0;
  font-size: 12px;
  text-align: right;
}
