body {
  font-family: "lucida grande",lucida,tahoma,helvetica,arial,sans-serif;
  margin-top: 0;
  padding-top: 0;
}

#header {
  position: absolute;
  top: 0;
}
  #header #logo {
    float: left;
  }
  #header .title {
    float: right;
  }

#sidebar {
  width: 160px;
  float: left;
}

#content {
  margin-top: 80px;
  margin-left: 170px; /* left sidebar*/
  font-size: 90%;
}

h1 {
  margin-bottom: 5px;
}

#footer {
  clear: both;
}

.powered-by {
  margin: 10px 0;
  font-size: 12px;
  text-align: right;
}

table th {
  text-align: left;
}

p {}